# Added by Payload
DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
# Configurações do teu MinIO no Optiplex 790
S3_ENDPOINT=https://s3.myapp.com.br
S3_ACCESS_KEY_ID=admin_access_key
S3_SECRET_ACCESS_KEY=access_secret_key
S3_BUCKET=app-storage
S3_REGION=us-east-1